{% extends 'base.html' %}

{% block title %}로그인{% endblock %}


{% block content %}
    <h2>로그인</h2>
    <form method="post">
        {% csrf_token %}
        <div class="auth-form-fields">
            {{ form.as_p }}
        </div>
        <button type="submit" class="main-btn">로그인</button>
    </form>

    <hr style="border: 0; border-top: 1px solid #eee; margin: 25px 0;">

    <div class="helper-links">
        <a href="{% url 'password_reset' %}">비밀번호 찾기</a>
        <span class="divider">|</span>
        <a href="{% url 'signup' %}">회원가입</a>
    </div>

    {% load socialaccount %}

    <a href="{% provider_login_url 'naver' %}">
    <img src="https://static.nid.naver.com/oauth/small_g_in.PNG" alt="네이버 로그인">
    </a>
    
    <a href="{% provider_login_url 'kakao' %}">
    <img src="https://developers.kakao.com/tool/resource/static/img/button/login/full/ko/kakao_login_medium_narrow.png" 
         alt="카카오 로그인" 
         style="height: 40px;"> </a>

{% endblock %}

